@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*Typography*/

body,
button,
input,
select,
textarea {
    font-family: 'Fira Code', monospace;
    color: rebeccapurple;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
body {
    background-color: lavenderblush;
}

.bold {
    font-weight: bold;
}